@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@using Microsoft.Extensions.AI
@inject IChatClient chat

<div>
    <input @bind=Prompt /> : @result
</div>

@code {
    string prompt = "안녕하세요";
    string result = "";
    string Prompt
    {
        get => prompt;
        set => _ = OnKeyPress(prompt = value);
    }

    private async Task OnKeyPress(string prompt)
    {
            try
            {
                result = $"[{prompt}] 에 대한 응답 : ";
                await foreach (var stream in chat.CompleteStreamingAsync(prompt))
                {
                    result += stream;
                    StateHasChanged();
                }
            }
            catch (Exception ex)
            {
                result += ex.Message;
            }
    }
}